/*------Navigation-------*/
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 60px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover 
{
    color: indigo!important;
}

.navbar {
    background: darkgray;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: maroon!important;
    font-weight: 600;
    font-size: 15;
}
/*------Slider----*/
#Slider
{
    width: 100%;
}
.carousel-caption
{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5
{
    color: purple;
    font-size: 40px;
}